 .banner{
    background: url('img/banner1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    display: flex;
    overflow: hidden;
}
.banner-title{
width: 400px;
margin-right: 5px;

}
.banner-sub-title{
    width: 400px;
padding: 50px;
margin-left: 315px;
padding-bottom: 200px;

}
.banner_btn{
    width: 200px;
    padding: 10px;
    text-align: center;
    background-color: orange;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 20px;
}
.main_div{
    display: flex;
    overflow: hidden;
    padding: 20px;
    margin-top: 50px;
}
.main_img{
    width: 400px;
    margin-right: 10px;
}
.content{
    text-align: justify;
    width: 400px;
    margin-top: 240px;
    margin-left: 300px;
}
.plan_primary{
    padding: 25px;
    margin-left: 10%;
}
.plan_sub-primary{
    display: flex;
    overflow: hidden;
}
.box1{
    margin-right: 70px;
    text-align: center;
}
.plan_h1 {
    text-align: center;
    font-size: 51px;
    margin-bottom: 50px;
    font-weight: bold;
    padding: 15px;
}

.positive_maindset{
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
}

.call_me {
    width: 160px;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    border-radius: 8px;
    background: aquamarine;
}
.blogs-sub {
     padding: 50px; 
    color: white;
    position: absolute;
    top: 40px;
    left: 0;
}

.footer {
    background: black;
    color: white;
    padding: 30px;
    display: flex;
}
.footer-primary {
    padding: 70px;
    width: 500px;
}
.footer-title {
    margin-top: 100px;
    margin-left: 180px;
    padding: 10px;
}

input[type="text"] {
    padding: 15px;
    border-radius: 11px;
    background: black;
    color: white;
}
img.fotter_img {
    margin-right: 15px;
    margin-top: 14px;
}
button.footer_btn {
    width: 150px;
    padding: 10px;
    font-size: 18px;
    border-radius: 11px;
    margin-top: 20px;
    color: orange;
    background: aliceblue;
}

.blogs{
    position: relative;
    top: 0;
    left: 0;
}
.img1{
    position: relative;
    top: 0;
    left: 0;
}
.img2{
    position: absolute;
    top: 0;
    left: 0;
}

::placeholder{
    color: aliceblue; 
}